img.searching {
  width: 530px;
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  img.searching {
    width: 400px;
  }
}
@media (max-width: 550px) {
  img.searching {
    width: 350px;
  }
}
@media (max-width: 450px) {
  img.searching {
    width: 290px;
  }
}